h1 {
  display: flex;
  justify-content: center;
  background-color: rgb(79, 79, 79);
  color: white;
  padding: 10px;
}

.searchbox {
  border-style: solid;
  flex-direction: column;
}

.weatherDisplay {
  border-style: solid;
}

.fiveDayForecast {
  border-style: solid;
}
