h1 {
  display: flex;
  justify-content: center;
  background-color: rgb(79, 79, 79);
  color: white;
  padding: 10px;
}

.searchbox {
  border-style: solid;
  flex-direction: column;
}

.weatherDisplay {
  border-style: solid;
}

.fiveDayForecast {
  border-style: solid;
}

.uvGreen {
  background-color: #77dd77;
  color: white;
}

.uvYellow {
  background-color: yellow;
  color: white;
}

.uvOrange {
  background-color: orange;
  color: white;
}

.uvRed {
  background-color: red;
  color: white;
}
